body {
  height: 100vh;
  margin: 0 auto;
}
#img-fundo {
  height: 100%;
  background-image: url(https://img.freepik.com/vetores-gratis/fundo-futurista-abstrato-com-codigo-binario_193066-361.jpg?w=826);
  background-repeat: no-repeat;
  background-size: cover;
}
#sombra-imagem {
  height: 100%;
  background-color: rgba(128, 128, 128, 0.164);
}
#img-fundo h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2%;
  text-align: center;
  color: white;
}
#formulario {
  width: 60%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2vh;
  margin-top: 2vh;
  background-color: rgba(30, 65, 218, 0.055);
  box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.808); 
}
#inserir-texto-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 20%;
  margin-top: 2%;
}
#inserir-texto-label, #escolha-label-estilo, #resultado-label-estilo  {
  width: 50%;
  font-size: 3.5vh;
  align-self: center;
  color: rgba(255, 255, 255, 0.884);
}
#escolha-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 20%;
  margin-top: 2%;
}
#incremento-e-radiobtns-div {
  width: 47.5%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#incremento {
  width: 95%;
  height: 30%;
  background-color: rgba(128, 128, 128, 0.445);
  border-color: rgba(0, 0, 0, 0.500);
  color: rgba(255, 255, 255, 0.486);
  text-align: center;
}
#incremento-label-estilo {
  width: 50%;
  font-size: 3vh;
  color: rgba(255, 255, 255, 0.884);
}
#radiobtns-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}
#botao-executar {
  width: 25%;
  height: 5%;
  margin-bottom: 3%;
}
#resultado-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 20%;
  margin-bottom: 2%;
}
.textarea-estilo {
  background-color: rgba(128, 128, 128, 0.445);
  border-color: rgba(0, 0, 0, 0.500);
  width: 50%;
  height: 60%;
  font-size: 3vh;
  color: rgba(255, 255, 255, 0.486);
}
.select-estilo {
  background-color: rgba(128, 128, 128, 0.445);
  color: rgba(255, 255, 255, 0.486);
  border-color: rgba(0, 0, 0, 0.500);
  width: 50%;
  height: 45%;
}
.radiobtn-label-estilo {
  color: rgba(255, 255, 255, 0.884);
  font-size: 2.5vh;
}
.radiobtn-estilo {
  opacity: 50%;
}






